* {
	font-size: 1.7vw;
}

html,
body {
	/* cursor: none; */
	margin: 0;
	padding: 0;
	align-items: center;
	overflow: hidden;
	background-color: black;
}

#myCanvas {
	margin-left: 3vw;
	margin-right: 3vw;
	margin-bottom: 0.7vh;
}

h2 {
	color: white;
	margin-left: 1vw;
	font-family: "Courier New", Courier, monospace;
	display: inline-block;
}

a {
	margin: 1vw;
}

button {
	display: inline-block;
	/* margin: 20px; */
	font-family: "Courier New", Courier, monospace;
	font-weight: bolder;
	border: none;
	border-radius: 5px;
	padding: 1vw 3vw 1vw 3vw;
}

button:focus {
	outline: none;
}

button:hover {
	background-color: gray;
}
